<h1>New Ticket Assigned</h1>
<p>Hello <%= @assignee.name %>,</p>
<p>You have been assigned a new ticket:</p>
<ul>
    <li><strong>Title:</strong> <%= @ticket.title %></li>
    <li><strong>Description:</strong> <%= @ticket.description %></li>
    <li><strong>Due Date:</strong> <%= @ticket.due_date %></li>
</ul>
<p>Please log in to the system to review and take action.</p>